body {
  font-family: "Roboto", sans-serif;
}

#header .header-container{
  display: flex;
  height: 100%;
  justify-content: space-between;
  background: url('../../assets/images/bg-header.22504384.png') no-repeat 50%;
  background-position-x: 34% !important;
  border-bottom: 4px;
  border-color: #f25d19;
  border-style: solid !important;
 
}

.isSticky {
  animation: slideDown 0.35s ease-out;
}

#footer {
  background: linear-gradient(#f25d19,#fad327);
}

.footer-copy-right {
  border-color: #8a4d04;
  border-top: 2px #8a4d04;
  border-style: solid;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slider-container .swiper-pagination-bullet {
  width: 16px;
  height: 3px;
  border-radius: 0;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

#slider-container .swiper-pagination-bullet-active {
  width: 16px;
  height: 3px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #fff;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.header-recommend-product {
  background: url('/src/assets/images/line-header-products.1d9fb39a.png') no-repeat 0;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Infinite Slide */

.slider {
  position: relative;
  width: 80vw;
  overflow: hidden;
}
.slider .action-button {
  position: absolute;
  top: 50%;
  width: 50px;
  aspect-ratio: 1;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.9);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  z-index: 100;
  transition: color 0.2s linear, background 0.2s linear, transform 0.2s linear;
}
/* .slider .action-button:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  cursor: pointer;
} */
/* .slider .action-button.left-chevron {
  left: 0;
  transform: translate(5%, -50%);
}
.slider .action-button.left-chevron:hover {
  transform: translate(15%, -50%);
}
.slider .action-button.right-chevron {
  right: 0;
  transform: translate(-5%, -50%);
}
.slider .action-button.right-chevron:hover {
  transform: translate(-15%, -50%);
} */
.slider .slider-list {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  margin: 0;
  padding: 1rem 0;
  list-style: none;
  transition: transform 5s linear;
  gap: 2rem;
}
@media (min-width: 576px) {
  .slider .slider-list {
    grid-auto-columns: 50%;
  }
}
@media (min-width: 768px) {
  .slider .slider-list {
    grid-auto-columns: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .slider .slider-list {
    grid-auto-columns: 25%;
  }
}
@media (min-width: 1200px) {
  .slider .slider-list {
    grid-auto-columns: 20%;
  }
}
.slider .slider-list .slider-item {
  display: inline-block;
  height: 6rem;
  color: white;
  text-align: center;
}
.slider .slider-list .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.1s linear;
}
/* .slider .slider-list .slider-item img:hover {
  transform: scale(1.1);
} */

.collapse-enter-active,
.collapse-leave-active {
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
.collapse-enter-to,
.collapse-leave-from {
  height: var(--ui-transition-height);
}
.collapse-enter-from,
.collapse-leave-to {
  opacity: 0;
  height: 0;
}

.accordion {
  display: grid;
  gap: 0.5rem;
  max-width: 20rem;
  width: 100%;
}
.accordion-item {
  background-color: transparent;
  border-radius: 0.25rem;
  transition: background-color 150ms;
  &.ui-active {
    background-color: #fff;
  }
}
.accordion-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  appearance: none;
  transition: background-color 150ms;
  outline-color: #fff;
  border-radius: 0.25rem;
  background-color: #131d33;
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  width: 100%;
  font-weight: 500;
  font-size: 0.875rem;
  border-width: 0;
  color: white;
  font-family: inherit;
  cursor: pointer;
  &:hover {
    background-color: #111826;
  }
  & svg {
    transition: transform 150ms;
    width: 1rem;
  }
  &.ui-active svg {
    transform: scaleY(-1);
  }
}
.accordion-panel {
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: white;
  padding: 1rem 1.25rem;
  color: #111826;
  font-size: 0.875rem;
  line-height: 1.375;
}


.tabs-tab {
  &.ui-active {
    /* background-color: #111826; */
    pointer-events: none;
    font-weight: 600;
    border-top: 3px solid #8a4d04;
    border-left: 1px solid #8a4d04;
    border-right: 1px solid #8a4d04;
    border-radius: 5px 5px 0 0;
    
  }
}